/* * {
  box-sizing: border-box;
} */

body, html {
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
}

#header {
  height: 55px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 3px solid #E1E1E1;
}

#headerLeft {
  float: left;
}

#headerRight {
  float: right;
}

#proxyFlexContainer {
  clear: both;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

#proxyTopRow, #proxyAboutRow {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.TripCobaComponents {
  margin: 10px;
}

#cancunAd, #covidStatement {
  border: 2px solid #D3D3D3;
}